@import 'tailwindcss';
@import 'tw-animate-css';
@import './dark-mode.css';
@import './prose.css';
@import './colors.css';

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1408px) {
    max-width: 1408px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility focus-indicator {
  &:focus-visible {
    @apply ring-ring ring-offset-background ring-2 ring-offset-2 outline-none;
  }
}
